* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  background-image: linear-gradient(to left, red, blue);
}

.button {
  height: 24px;
  width: 65px;
}

.text {
  text-align: center;
  height: 20px;
  margin: 3px;
}

.mensagem {
  text-align: center;
  font-weight: bold;
  font-size: larger;
  color: skyblue;
}