* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  background-image: linear-gradient(to left, red, blue);
}

.App {
  font-size: 25px;
  font-weight: bold;
}

.contador {
  text-align: center;
}

.button {
  height: 25px;
  width: 70px;
}